sudo: false

language: python

python:
  - '2.7'
  - '3.4'
  - '3.5'
  - pypy

cache:
    directories:
        - $HOME/.cache/pip

env:
  - DJANGO_VERSION=1.10.x
  - DJANGO_VERSION=1.9.x
  - DJANGO_VERSION=1.8.x


install:
  - pip install tox

script:
  - tox -e "$TRAVIS_PYTHON_VERSION-$DJANGO_VERSION"
